@media screen and (max-width: 725px) {
    body{
        margin: 0px;
        
    }
    
    
    .plateandprice1 ,.plateandprice2 ,.plateandprice3{
        max-width: 345px;   
    }
    .platetitle .platetxt{
        text-overflow: ellipsis;
    }
    
}

@media  screen and (max-width:1100px){
    .loader{
        display: none;
    }
    .explore__title {
        font-size: 34px;
    }
    .function{
        margin:4px;
    }
    .function__choise {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    .restaurant{
        height: 1110px;
        margin: 0;
        padding: 20px;
        
    }
    .restaurant__cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0; 
        gap: 18px;     
    }
    .restaurant__cards li{
        width:90.2vw;
    }
    
    .cards {      
        width: 100%;
       
    }
    .cards img{
        width: 90.5vw;
    }
    .cards__new{
        left: 70%;
    }
    
    
    
    
    
}