header {
  display: flex;
  width: auto;
  align-items: center;
  padding: 9px 0px 0px 0px;
  height: 96px;
  justify-content: center;
}

.logo {
  width: 10.12rem;
  height: 30px;
  padding: 0px 19px;
}

@media screen and (min-width: 725px) {
  body {
    margin: 0px;
  }
  .plateandprice1, .plateandprice2, .plateandprice3 {
    width: 634px;
  }
  .plateandprice1:hover .plate__option, .plateandprice2:hover .plate__option, .plateandprice3:hover .plate__option {
    transition-duration: 0.5s;
    right: 0px;
    left: 73px;
  }
  .menu {
    padding-left: 220px;
  }
  .plate__option {
    left: 146px;
  }
}
@media screen and (min-width: 725px) and (min-width: 1100px) {
  .loader {
    z-index: 100;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .function {
    display: flex;
    height: 222px;
    margin: auto;
    width: 75%;
    padding-bottom: 0px;
  }
  .function h2 {
    display: flex;
    transform: translate(7.3em, -3em);
  }
  .plate {
    display: flex;
    flex-direction: column;
    width: 439px;
    margin-left: 0px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 725px) {
  .plate__price {
    background-color: white;
    font-size: 0.94rem;
    padding-top: 40px;
    padding-left: 5px;
    width: 35px;
    height: 69px;
    margin: 0px;
    font-weight: bold;
  }
  .function__choise {
    display: flex;
    flex-direction: row;
    width: 75vw;
    gap: 50px;
    margin: 80px 0px 50px 0px;
    justify-content: center;
    cursor: default;
  }
  .choix {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px;
    width: 322px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72px;
    cursor: default;
  }
  .choix__number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 24px;
    width: 24px;
    background-color: #9356dc;
    border-radius: 50%;
    transform: translate(-13px, 0px);
    cursor: default;
  }
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 55px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
  }
  .restaurant__cards .cards__new {
    left: 25em;
    top: 0em;
  }
  .restaurant__cards .cards {
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .restaurant__cards .cards img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurant__cards .cards__text {
    padding-left: 25px;
    padding-top: 10px;
  }
  .restaurant__cards .cards__text--h3 {
    margin: 0px;
  }
  .restaurant__cards .cards__text--p {
    margin: 0px;
  }
  .restaurant h2 {
    display: flex;
    position: relative;
    right: 32vw;
  }
  .restaurant {
    background-color: rgba(153, 226, 208, 0.2039215686);
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 608px;
  }
  img {
    width: 100%;
  }
  .restaurant i {
    display: flex;
    justify-content: end;
    position: absolute;
    transform: translate(15em, 6.2em);
    font-size: 30px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eaeaea;
    font-weight: 500;
  }
  .explore {
    text-align: center;
    background-color: #F6F6F6;
    height: 240px;
    padding-top: 30px;
    margin: 0px;
  }
  .explore__title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
  }
  .explore__text {
    font-size: 18px;
  }
  .explore__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    background: linear-gradient(to top, #9356dc, #ff79da);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .explore__button--text {
    color: white;
    font-weight: normal;
  }
  .restaurant__cards li {
    display: flex;
    flex-direction: column;
  }
}
.mention {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: 140px;
  padding: 23px;
  align-items: flex-start;
  justify-self: flex-start;
}

.mention h3 {
  font-family: "Shrikhand", sans-serif;
  margin: 0 20px 0 0;
  align-self: center;
  font-family: "Shrikhand", sans-serif;
}

.footer__title {
  color: white;
  display: flex;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  left: 4%;
}

.footer__list li a {
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
  margin-top: 45px;
  padding-left: 0px;
}

@media screen and (min-width: 790px) {
  .mention {
    background-color: #353535;
    padding: 40px;
    gap: 10px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    align-items: center;
  }
  .footer__list {
    display: flex;
    flex-direction: row-reverse;
    margin: 16px 0;
    list-style-type: none;
    padding: 0;
    gap: 10px;
  }
  .footer__list li a {
    color: #fff;
  }
  .footer__title {
    position: relative;
  }
}
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.explore {
  text-align: center;
  background-color: #F6F6F6;
  height: 240px;
  margin-bottom: 30px;
  padding: 30px 0px;
}

.explore__title {
  width: 275;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
}

.explore__text {
  font-size: 18px;
}

.explore__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  margin: auto;
  background: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.explore__button:hover {
  opacity: 0.8;
}

.explore__button--text {
  color: white;
  font-weight: normal;
}

.function {
  margin: 15px;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

.function h2 {
  align-items: start;
  text-align: left;
}

.function__choise {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  cursor: default;
}
.function__choise .fa-store {
  color: #9356dc;
}

.choix {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  width: 335px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 72px;
  cursor: default;
}
.choix .choix__text {
  font-size: 16px;
  font-weight: 600;
}

.position__new {
  top: 10vw;
}

.cards__new {
  display: flex;
  position: absolute;
  left: 68%;
  top: 0%;
  height: 30px;
  width: 80px;
  margin: 15px 15px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.choix__number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  border-radius: 50%;
  transform: translate(-13px, 0px);
  cursor: default;
}

.restaurant {
  display: flex;
  flex-direction: column;
  height: 1150px;
  padding-left: 0px;
  background-color: rgba(153, 226, 208, 0.2039215686);
}
.restaurant h2 {
  padding-left: 20px;
}
.restaurant .restaurant__cards {
  flex-direction: column;
  width: 75.5vw;
  max-width: 511px;
  padding: 10px;
  gap: 20px;
}
.restaurant img {
  display: flex;
  width: 91vw;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.restaurant .cards {
  gap: 30px;
  position: relative;
}
.restaurant .restaurant__cards li {
  display: flex;
  width: 91vw;
  max-width: 511px;
  min-height: 240px;
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
}
.restaurant .cards__text {
  padding-left: 10px;
}
.restaurant .cards__text--h3 {
  margin: 0px;
}
.restaurant .cards__text--p {
  margin: 0px;
}
.restaurant i {
  display: flex;
  justify-content: end;
  transform: translate(-2em, 6.2em);
  font-size: 30px;
  font-weight: lighter;
  height: 28px;
  background-size: cover;
}
.restaurant i:hover {
  animation: heart 0.5s forwards;
}
@keyframes heart {
  0% {
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #9356DC, #ff79da);
    opacity: 0;
  }
  100% {
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top, #9356DC, #ff79da);
    opacity: 1;
  }
}
.restaurant i:focus {
  animation: heart 0.5s forwards;
}

@media screen and (min-width: 1100px) {
  .loader {
    font-family: "Shrikhand", sans-serif;
    z-index: 1;
    display: flex;
    position: absolute;
    height: 150%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: loader 2s forwards;
    background: #f6f6f6;
  }
  @keyframes loader {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  .lettre {
    color: black;
    font-size: 80px;
    letter-spacing: 10px;
    margin-bottom: 500px;
    animation: flash 1.2s linear infinite;
  }
  @keyframes flash {
    0% {
      color: #9356dc;
      text-shadow: 0px 0px 7px #9356dc;
    }
    90% {
      color: black;
      text-shadow: 0px 0px 7px black;
    }
    100% {
      color: #9356dc;
      text-shadow: 0px 0px 7px #9356dc;
      display: none;
    }
  }
  .lettre:nth-child(1) {
    animation-delay: 0.1S;
  }
  .lettre:nth-child(2) {
    animation-delay: 0.2S;
  }
  .lettre:nth-child(3) {
    animation-delay: 0.3S;
  }
  .lettre:nth-child(4) {
    animation-delay: 0.4S;
  }
  .lettre:nth-child(5) {
    animation-delay: 0.5S;
  }
  .lettre:nth-child(6) {
    animation-delay: 0.6S;
  }
  .lettre:nth-child(7) {
    animation-delay: 0.7S;
  }
  .lettre:nth-child(8) {
    animation-delay: 0.8S;
  }
}
@media screen and (min-width: 725px) {
  body {
    margin: 0px;
  }
  .plateandprice1, .plateandprice2, .plateandprice3 {
    width: 634px;
  }
  .plateandprice1:hover .plate__option, .plateandprice2:hover .plate__option, .plateandprice3:hover .plate__option {
    transition-duration: 0.5s;
    right: 0px;
    left: 73px;
  }
  .menu {
    padding-left: 220px;
  }
  .plate__option {
    left: 146px;
  }
}
@media screen and (min-width: 725px) and (min-width: 1100px) {
  .loader {
    z-index: 100;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .function {
    display: flex;
    height: 222px;
    margin: auto;
    width: 75%;
    padding-bottom: 0px;
  }
  .function h2 {
    display: flex;
    transform: translate(7.3em, -3em);
  }
  .plate {
    display: flex;
    flex-direction: column;
    width: 439px;
    margin-left: 0px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 725px) {
  .plate__price {
    background-color: white;
    font-size: 0.94rem;
    padding-top: 40px;
    padding-left: 5px;
    width: 35px;
    height: 69px;
    margin: 0px;
    font-weight: bold;
  }
  .function__choise {
    display: flex;
    flex-direction: row;
    width: 75vw;
    gap: 50px;
    margin: 80px 0px 50px 0px;
    justify-content: center;
    cursor: default;
  }
  .choix {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px;
    width: 322px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72px;
    cursor: default;
  }
  .choix__number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 24px;
    width: 24px;
    background-color: #9356dc;
    border-radius: 50%;
    transform: translate(-13px, 0px);
    cursor: default;
  }
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 55px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
  }
  .restaurant__cards .cards__new {
    left: 25em;
    top: 0em;
  }
  .restaurant__cards .cards {
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .restaurant__cards .cards img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurant__cards .cards__text {
    padding-left: 25px;
    padding-top: 10px;
  }
  .restaurant__cards .cards__text--h3 {
    margin: 0px;
  }
  .restaurant__cards .cards__text--p {
    margin: 0px;
  }
  .restaurant h2 {
    display: flex;
    position: relative;
    right: 32vw;
  }
  .restaurant {
    background-color: rgba(153, 226, 208, 0.2039215686);
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 608px;
  }
  img {
    width: 100%;
  }
  .restaurant i {
    display: flex;
    justify-content: end;
    position: absolute;
    transform: translate(15em, 6.2em);
    font-size: 30px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eaeaea;
    font-weight: 500;
  }
  .explore {
    text-align: center;
    background-color: #F6F6F6;
    height: 240px;
    padding-top: 30px;
    margin: 0px;
  }
  .explore__title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
  }
  .explore__text {
    font-size: 18px;
  }
  .explore__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
    background: linear-gradient(to top, #9356dc, #ff79da);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .explore__button--text {
    color: white;
    font-weight: normal;
  }
  .restaurant__cards li {
    display: flex;
    flex-direction: column;
  }
}
.mention {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: 140px;
  padding: 23px;
  align-items: flex-start;
  justify-self: flex-start;
}

.mention h3 {
  font-family: "Shrikhand", sans-serif;
  margin: 0 20px 0 0;
  align-self: center;
  font-family: "Shrikhand", sans-serif;
}

.footer__title {
  color: white;
  display: flex;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  left: 4%;
}

.footer__list li a {
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
  margin-top: 45px;
  padding-left: 0px;
}

@media screen and (min-width: 790px) {
  .mention {
    background-color: #353535;
    padding: 40px;
    gap: 10px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    align-items: center;
  }
  .footer__list {
    display: flex;
    flex-direction: row-reverse;
    margin: 16px 0;
    list-style-type: none;
    padding: 0;
    gap: 10px;
  }
  .footer__list li a {
    color: #fff;
  }
  .footer__title {
    position: relative;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=index.css.map */