header{
    display: flex;
    width: auto;
    align-items: center;
    padding: 9px 0px 0px 0px;
    height: 96px;
    justify-content: center;
  }
  .logo {
    width: 10.12rem;
      height: 30px;
      padding: 0px 19px;
  }