@media screen and (min-width: 1100px){

.loader{
    font-family: "Shrikhand" , sans-serif;
    z-index: 1;
    display: flex;
    position: absolute;
    height: 150%;
    width: 100%;
    @include center;
    @include loader;
    background: #f6f6f6;
   }
   .lettre{
    color: black;
    font-size: 80px;
    letter-spacing: 10px;
    margin-bottom: 500px;
    @include flash ;
   } 
   .lettre:nth-child(1){
    animation-delay: 0.1S;
   }
   .lettre:nth-child(2){
    animation-delay: 0.2S;
   }
   .lettre:nth-child(3){
    animation-delay: 0.3S;
   }
   .lettre:nth-child(4){
    animation-delay: 0.4S;
   }
   .lettre:nth-child(5){
    animation-delay: 0.5S;
   }
   .lettre:nth-child(6){
    animation-delay: 0.6S;
   }
   .lettre:nth-child(7){
    animation-delay: 0.7S;
   }
   .lettre:nth-child(8){
    animation-delay: 0.8S;
   }    
}