
@mixin footer{
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: auto auto;
    background-color: #353535;
    padding: 23px 1.56rem;
    justify-content: center;
    color: white;
}
@mixin center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin wave {
    animation: wave ease-in-out 1.5;
    @keyframes wave {
        0% {
            transform: translateX(-40%);
        }
        20% {
            transform: translateX(10%);
        }
        40% {
            transform: translateX(-10%);
        }
        60% {
            transform: translateX(5%);
        }
        80% {
            transform: translateX(-2%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    
}