header {
  display: flex;
  width: auto;
  align-items: center;
  padding: 9px 0px 0px 0px;
  height: 96px;
  justify-content: center;
}

.logo {
  width: 10.12rem;
  height: 30px;
  padding: 0px 19px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  font-weight: 500;
}

.explore {
  text-align: center;
  background-color: F6F6F6;
  height: 240px;
}

.explore__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
}

.explore__text {
  font-size: 18px;
}

.explore__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  margin: auto;
  background: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.explore__button--text {
  color: white;
  font-weight: medium;
}

.function {
  margin: auto;
  width: 75%;
}

.function h2 {
  display: grid;
  padding: 50px 0px 15px 40px;
  grid-template-columns: 50fr;
}

.function__choise {
  display: flex;
  width: 100%;
  gap: 50px;
  margin: 25px 0px 50px 0px;
  justify-content: center;
}

.choix {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  width: 322px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 72px;
}

.choix__number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  border-radius: 50%;
  transform: translate(-13px, 0px);
}

.choix i:hover {
  color: #9356DC;
}

.restaurant {
  height: 608px;
  padding-left: 50px;
}

.restaurant__cards {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 55px;
  max-width: 35.5vw;
}

.cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.cards img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 35.5vw;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
}

.cards__text {
  padding-left: 25px;
}

.cards__text--h3 {
  margin: 0px;
}

.cards__text--p {
  margin: 0px;
}

.restaurant__cards li {
  display: flex;
  width: 35.5vw;
  height: 240px;
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
}

.cards__new {
  position: absolute;
  height: 29px;
  width: 80px;
  margin: 15px 15px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(28vw, 0%);
}

.restaurant {
  background-color: rgba(153, 226, 208, 0.2039215686);
}

.fa-heart {
  display: flex;
  justify-content: end;
  position: absolute;
  left: 88%;
  top: 80%;
  font-size: 30px;
}
.fa-heart:hover {
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #ff79da);
}
.fa-heart:active {
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #ff79da);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: auto auto;
  background-color: #353535;
  padding: 23px 1.56rem;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 54px;
  padding: 30px 25px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin: 0px 0px 0px 20px;
  align-self: center;
}
footer .footer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 16px 0px 0px 0px;
  list-style-type: none;
}
footer .footer__list li a {
  color: white;
  padding-left: 15px;
}
footer .mention {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */